*.sqlite3
*.log
*geneignore.txt
*.aux
*.pdf
*.gz
*.tex
*.p
*~
*.*#
__pycache__/
*.raw
venv/
.DS_Store
*.egg-info/
testresults/
.coverage
.coveragerc
htmlcov/
*.pyc
.fuse*
manual_tests/
human_refseq*
.cache
build/
dist/
auto/

figures/*
figures/*.png
figures/*pdf
data/raw/*txt
data/raw/*tab
data/raw/*json
*.ini